:root {
  --accent-color: #2196f3;
  --primary-color: #757575;
  --secondary-color: #212121;
  --wite-color: #ffffff;
  --black-color: #000000;
  --sacondary-wite-color: rgba(255, 255, 255, 0.6);
  --background-color: #f5f5f5;
  --background-color-wite: #ffffff;
  --sacondary-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --accent-background-color: #2196f3;
  --hover-background-color: #188ce8;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
}

/* ----------------------Header------------------------- */

.header {
  background-color: var(--background-color-wite);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.navigation-accent {
  color: var(--black-color);
}

.navigation-list {
  list-style: none;
}

.navigation-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.navigation-item.current {
  color: var(--accent-color);
}

.contacts-list {
  list-style: none;
}

.contacts-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.contacts-item:hover,
.navigation-item:hover,
.contacts-item:focus,
.navigation-item:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--sacondary-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wite-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--wite-color);
  background-color: var(--accent-background-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-background-color);
}

/* ---------------------------------Переваги------------------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages-list {
  list-style: none;
}

.advantages-subtitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}

/* -----------------------------------Work------------------------------ */

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  color: var(--secondary-color);
}
.work-list {
  list-style: none;
}
